/* google font-----poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* =============
    header
============= */
body{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
header{
    margin: 10px 100px;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    padding-left: 30px;
}
nav>ul>li>a{
    text-decoration: none;
    padding: 0px 0px;
    color: #3A3A3A;
}
/* First part-influencer section */
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 130px;
    margin: 120px 100px;
}
.influencer-intro p{
    margin-bottom: 30px;
}
.influencer-intro a{
    text-decoration: none;
    border-radius: 30px;
    padding: 8px 20px;
    color: white;
    background-color: #E02C6D;
}
.fa-arrow-right{
    padding-left: 10px;
}
.camera img{
    border-radius: 50%;
    height: 414px;
    width: 414px;
}

.camera img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 2s;
}
/* Brand-logo */

.brand-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: center;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* collection section */
.popular-collection{
    margin: 30px 150px;
    margin-top: 100px;
}
.popular-collection h2{
    text-align: center;
}
.see-more{
    margin-top: 30px;
    text-align: end;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
}
.collection{
    /* border: 1px solid; */
    box-shadow: 0 0 5px 5px whitesmoke;
    padding: 16px;
    height: 495px;
    width: 300px;
    
}
.price{
    font-size: 20px;
}
.collection img{
    height: 256px;
    width: 300px;
}

.fa-star{
    color: #FB8200;
}
.fa-star-half-alt{
    color: #FB8200;
}

.photographer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 100px 150px;
}

.influencer-akash img{
    height: 270px;
    width: 400px;
    border-radius: 10px;
}

/*=============
    footer
===============*/
footer{
    text-align: center;
    border: 1px solid;
    background-color: #0A0826;
    color: white;
}
footer .fab{
    margin-left: 10px;
}


/* ====================
responsive tablet
======================*/


@media (max-width:1024px){
    body p,h1,h2,h3{
        font-size: 1em;
    }
    .influencer{
        grid-column-gap: 50px;
    }

    .influencer-intro a{
        padding: 4px 10px;
    }
    .camera img{
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    .popular-collection{
        margin: 30px 50px;
        margin-top: 100px;
    }
    .collections{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .photographer{
        margin: 50px 50px;
    }
    .influencer-akash img{
        height: 200px;
        width: 300px;
        border-radius: 10px;
    }
    /* .akash-details {
        font-size: 12px;
    } */
}
/*=====================
    mobile responsive
 ======================= */
@media (max-width:576px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav>ul{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
    nav>ul>li{
        padding-left: 0px;
    }
    .influencer{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        grid-column-gap: 0px;
        margin: 20px ;
        justify-items: center;
    }
    .influencer-intro{
        text-align: center;
    }
    .camera img{
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
    /* Brand-logo */

    .brand-logo{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-row-gap: 10px;
        grid-column-gap: 5px;
        align-items: center;
        justify-items: center;
    }
    .brand-logo img{
        width: 51px;
        height: 16px;
    }
    /* popular section */
    .popular-collection{
        margin: 30px 20px;
        margin-top: 100px;
    }
    .collections{
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        justify-items: center;
    }
    .collection{
        height: 476px;
        width: 300px;
    }
    .photographer{
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }
    .influencer-akash img{
        height: 188px;
        width: 300px;
        border-radius: 10px;
    }
    .akash-details {
        text-align: center;
    }
}