/* google font-----poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* =============
    header
============= */
body{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
header{
    margin: 10px 100px;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    padding-left: 30px;
}
nav>ul>li>a{
    text-decoration: none;
    padding: 0px 20px;
    color: #3A3A3A;
}
/* First part-influencer section */
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 130px;
    margin: 120px 100px;
}
.influencer-intro p{
    margin-bottom: 30px;
}
.influencer-intro a{
    text-decoration: none;
    border-radius: 30px;
    padding: 8px 20px;
    color: white;
    background-color: #E02C6D;
}
.fa-arrow-right{
    padding-left: 10px;
}
.camera img{
    border-radius: 50%;
    height: 414px;
    width: 414px;
}

.camera img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 2s;
}
/* Brand-logo */

.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-logo img{
    margin-right:60px ;
    
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* collection section */
.popular-collection{
    margin: 30px 150px;
    margin-top: 100px;
}
.popular-collection h2{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.collection{
    /* border: 1px solid; */
    box-shadow: 0 0 5px 5px whitesmoke;
    padding: 16px;
    
}
.collection img{
    height: 256px;
    width: 300px;
}

.fa-star{
    color: #FB8200;
}
.fa-star-half-alt{
    color: #FB8200;
}

.photographer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 100px 150px;
}
.influencer-akash{
    text-align: right;
}
.influencer-akash img{
    height: 270px;
    width: 400px;
    border-radius: 10px;
}

/*=============
    footer
===============*/
footer{
    text-align: center;
    border: 1px solid;
    background-color: #0A0826;
    color: white;
}
footer .fab{
    margin-left: 10px;
}